<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark" class="nav-css" [containerInside]="false">

  <!-- Navbar brand -->
  <mdb-navbar-brand><a class="navbar-brand" style="color: white;margin-left: 1em;"><b>ADMIN</b></a></mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link waves-light" mdbWavesEffect>BSEP-2023</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" [routerLink]="['/','admin-home']" mdbWavesEffect>
          <button class="nav-item" style="border: 0;background-color: #e66565;color: white;"
            type="button">Home</button></a>
      </li>

      <li class="nav-item">
        <a class="nav-link waves-light" [routerLink]="['/','admin-csr']" mdbWavesEffect> <button class="nav-item"
            style="border: 0;background-color: #e66565;color: white;" type="button">CSR</button></a>
      </li>

      <li class="nav-item">
        <a class="nav-link waves-light" [routerLink]="['/','admin-certificate']" mdbWavesEffect> <button
            class="nav-item" style="border: 0;background-color: #e66565;color: white;"
            type="button">CERTIFICATE</button></a>
      </li>

      <li class="nav-item">
        <a class="nav-link waves-light" [routerLink]="['/','admin-users']" mdbWavesEffect> <button class="nav-item"
            style="border: 0;background-color: #e66565;color: white;" type="button">USERS</button></a>
      </li>

      <li class="nav-item">
        <a class="nav-link waves-light" [routerLink]="['/','admin-message']" mdbWavesEffect> <button class="nav-item"
            style="border: 0;background-color: #e66565;color: white;" type="button">MESSAGE</button></a>
      </li>

    </ul>
    <!-- Links -->

    <ul class="navbar-nav ml-auto nav-flex-icons" style="position: absolute; right: 1em;">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/','login']">
          <button class="nav-item" style="border: 0;background-color: #e66565;color: white;" type="button"><i
              (click)="logout()" class="fa fa-sign-out  fa-2x" aria-hidden="true"></i></button>
        </a>
      </li>

    </ul>
  </links>
  <!-- Collapsible content -->

</mdb-navbar>