<div style="height: 20px;"></div>

<table mat-table [dataSource]="confs">
  <!-- id Column -->
  <!-- <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container> -->

  <!-- startAction Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>
      NAME
    </th>
    <td mat-cell *matCellDef="let element" [innerHTML]="sanitizer.bypassSecurityTrustHtml(element.name)">
    </td>
  </ng-container>



  <!-- endAction Column -->
  <ng-container matColumnDef="minutes">
    <th mat-header-cell *matHeaderCellDef>
      MINUTES
    </th>
    <td mat-cell *matCellDef="let element" [innerHTML]="sanitizer.bypassSecurityTrustHtml(element.minutes)"></td>
  </ng-container>

  <ng-container matColumnDef="regex">
    <th mat-header-cell *matHeaderCellDef>
      REGEX
    </th>
    <td mat-cell *matCellDef="let element" [innerHTML]="sanitizer.bypassSecurityTrustHtml(element.regex)"> </td>
  </ng-container>

  <ng-container matColumnDef="update">
    <th mat-header-cell *matHeaderCellDef>
      UPDATE
    </th>
    <td mat-cell *matCellDef="let element">
      <button class="btn btn-success" (click)="update(element.name, element.minutes,element.regex)"
        [innerHTML]="sanitizer.bypassSecurityTrustHtml('UPDATE')">
        <!-- {{ element.owner ? 'ACTIVE' : 'INACTIVE' }} -->
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<div style="height:100px"></div>